# macOS junk
.DS_Store
*.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache & virtual environments
__pycache__/
*.py[cod]
.env
.venv
.yml

# Data outputs & large spatial tables
outputs/
*.csv
*.gal
*.parquet
*.gpkg-shm
*.gpkg-wal
data/processed/
